.bottom {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-template: 30px;
    padding-right: 50px;
}

.choose{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}